:host {
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-flow: row-reverse nowrap;
}

.canvas-wrapper {
    flex: 1 1 auto;
    position: relative;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* unhide to show debug stats */
.debug-ui {
    display: none;
    font-size: 7pt;
    flex: 0 0 200px;
    overflow: hidden;
    background-color: grey;
}